---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #0F7343;
$header-bg-color-secondary: #155799;

$section-headings-color: #0F7343;
$body-text-color: #535D62;
$blockquote-text-color: #535D62;
$body-link-color: #1B62A9;

@import "{{ site.theme }}";