---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #0B621D;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #0B621D;
$body-text-color: #232323;
$body-link-color: #155799;
$blockquote-text-color: #2D4155;

@import "{{ site.theme }}";