---
---

@import "{{ site.theme }}";


body {
//     font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font: 400 18px/1.5 Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: #111;
    background-color: #fffff8
}

.site-header {
     font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.wrapper {
    max-width: -webkit-calc(800px -(80px * 2));
    max-width: calc(800px -(80px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px -(40px));
        max-width: calc(800px -(40px));
        padding-right: 20px;
        padding-left: 20px
    }
}

.page-heading {
    font-size: 42px;
    letter-spacing: 0px;
    line-height:1
}

.page-content {
    font-size: 18px;
}

blockquote {
    color: #585858;
    border-left: 4px solid #ccc;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: 0px;
    font-style: normal
}

blockquote > :last-child {
    margin-bottom:0
}

hr {
	margin-top: 30px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: normal
}

.post-content h2 {
    font-size:30px;
    letter-spacing: -1px;
    margin: auto
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size:26px;
	    letter-spacing: -1px;
	    margin: auto
    }
}

.post-content h3 {
    font-size:26px;
	margin: auto
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size:24px;
		margin: auto
    }
}

.post-content h4 {
    font-size:20px;
	margin: auto
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size:20px;
        margin: auto
    }
}

// duplicates for page-content; this is a kludge.

.page-content h2 {
    font-size:30px;
    letter-spacing: -1px;
    margin: auto
}

@media screen and (max-width: 800px) {
    .page-content h2 {
        font-size:26px;
	    letter-spacing: -1px;
	    margin: auto
    }
}

.page-content h3 {
    font-size:26px;
    margin: auto
}

@media screen and (max-width: 800px) {
    .page-content h3 {
        font-size:24px;
        margin: auto
    }
}

.page-content h4 {
    font-size:20px;
    margin: auto
}

@media screen and (max-width: 800px) {
    .page-content h4 {
        font-size:20px;
        margin: auto
    }
}