---
---

@import "{{ site.theme }}";


body {
//     font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font: 400 16px/1.5 TimesNewRoman, "Times New Roman", Times, serif;
    color: #111;
    background-color: #fffffa
}

.site-header {
     font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.wrapper {
    max-width: -webkit-calc(800px -(60px * 2));
    max-width: calc(800px -(60px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px -(40px));
        max-width: calc(800px -(40px));
        padding-right: 20px;
        padding-left: 20px
    }
}

.page-heading {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: normal;
    text-align: center
}

.page-content {
    font-size: 18px;
}

blockquote {
    color: #424242;
    border-left: 4px solid #ccc;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: 0px;
    font-style: normal
}

blockquote > :last-child {
    margin-bottom:0
}

hr {
	margin-top: 30px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: normal;
    text-align: center
}

@media screen and (max-width: 800px) {
.post-title {
    font-size: 34px;
    letter-spacing: -1px;
    line-height: normal;
    text-align: center
}
}

.post-content h2 {
    font-size:26px;
    text-align: center
}

.post-content h3 {
    font-size:24px;
	text-align: center
}

.post-content h4 {
    font-size:18px;
	text-align: center
}

.post-content h5 {
    font-size:24px
}

.post-content h6 {
    font-size:20px
}

// duplicates for page-content; this is a kludge.

.page-content h2 {
    font-size:26px;
    text-align: center
}

.page-content h3 {
    font-size:24px;
    text-align: center
}

.page-content h4 {
    font-size:18px;
    text-align: center
}

.page-content h5 {
    font-size:24px
}

.page-content h6 {
    font-size:20px
}
